[user]
	name = KGrzeg
	email = kupczykgrzeg@gmail.com
	signingkey = 8873763A4D824A14
[core]
	editor = code --wait
	autocrlf = input
[commit]
	gpgSign = false
[alias]
	s = status
	ch = checkout
	amd = commit --amend --no-edit
	# Fetch remote repo
  rst = !git fetch --all --prune && git checkout master && git reset origin/master --hard
	fap = fetch --all --prune
	pf = push --force
	# Push to upstream
	pu = !"f() { remote=\"${1:-origin}\"; git push -u \"$remote\" $(git rev-parse --abbrev-ref HEAD); }; f"
	# Push to upstream Force
	puf = !"f() { echo git pc \"$@\" -f; }; f"
	# Show last 3 commit messages
	last = !git --no-pager log --oneline -3
	# Change branch with preserving current changes
	snek = !"f() { branch=\"${1}\"; git stash; git checkout \"$branch\"; git stash pop; }; f"

[rerere]
	enabled = true
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[lfs]
	fetchexclude = *
[pack]
	threads = 6
